# Web server
fastapi
notebook

# Data Processing
numpy
pandas
openpyxl
xlsxwriter
python-dotenv
requests
stockpyl
py3dbp
# Data Visualization
matplotlib
plotly
networkx

# Map
osmnx

sqlalchemy
psycopg2-binary